

<div class="a">
  <div class="div1">
  <div class="login-box">

    <h1 style="font-size: 40px;">LOGIN</h1>
    <br><br>
    <form  #myForm="ngForm" (ngSubmit)="login(myForm)" role="form">
        <p style="font-size: 25px">Username:</p>
          <span id="spn" style="color:red"></span>	
          <input type="text" id="txt" ngModel name="username" required="required" placeholder="Enter Username" >	

  
      <br><br>
        <p style="font-size: 25px">Password:</p>
          <input type="password" id="pwd" ngModel name="password" required="required" placeholder="Enter Password" >
          <span id="spn1" style="color:red"></span><br><br>		<br>
      
            <input type="submit" name="submit" value="Login"> 
    <br><br>
    
          <a routerLink="/reset">Reset</a>
    </form>
  </div>
  </div>
  </div>

  


